PORT=3001
JWT_SECRET=your_jwt_secret_here
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
GOOGLE_CLIENT_ID=401632886053-5jlo393412nnqnps4tercn6plbebb2dt.apps.googleusercontent.com
YOUTUBE_API_KEY=your_youtube_api_key_here
